.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
  position: relative;
  width: 100vh;
  height: 100vh;
  display: none;
  width: 100%;
}
.carousel-column {
  height: 500px;
  width: 900px;
  margin: 0 auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(44, 148, 167);
}
