.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
  position: relative;
  height: 100vh;
  width: 100%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(133, 30, 17);
}
